
<regshop-container>
    <regshop-row web>
        <regshop-column web="4">
            <regshop-carousel
                [images]="images"
            >
            </regshop-carousel>
        </regshop-column>
        <regshop-column web="4">
            <regshop-carousel
                [images]="images"
            >
            </regshop-carousel>
        </regshop-column>
        <regshop-column web="4">
            <regshop-carousel
                [images]="images"
            >
            </regshop-carousel>
        </regshop-column>
    </regshop-row>
</regshop-container>
