<regshop-header>
</regshop-header>
<regshop-container>
    <regshop-row handset tablet web>
        <regshop-column handset="12" tablet="6" web="4">
            <regshop-carousel
                [images]="images"
            >
            </regshop-carousel>
        </regshop-column>
        <regshop-column handset="12" tablet="6" web="4">
            <regshop-carousel
                [images]="images"
            >
            </regshop-carousel>
        </regshop-column>
        <regshop-column handset="12" tablet="6" web="4">
            <regshop-carousel
                [images]="images"
            >
            </regshop-carousel>
        </regshop-column>
    </regshop-row>
</regshop-container>
